# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
*.env

# Ruff / Tools
.ruff_cache/
.mypy_cache/
.pytest_cache/

# JavaScript
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS / Editor
.DS_Store
Thumbs.db
.idea/
.vscode/
!/.vscode/settings.json
!/.vscode/launch.json
.gemini